<div id="graph-container">
  <div id="graph">
  </div>
  <div id="sidebar">
    <div ng-click="clearErrors()" ng-if="errors" class="alert alert-danger clickable">
      {{errors}}
    </div>
    <form ng-submit="drawGraph()">
      <div class="form-group">
        <label for="subreddit-name">Find a Subreddit:</label>
        <div class="input-group" id="search-input">
          <input type="text"
          ng-model="subredditName"
          name="subreddit-name"
          class="form-control typeahead search"
          ng-disabled="loadingSubreddits || loadingPath">
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit" ng-disabled="loadingSubreddits || loadingPath">Search</button>
          </span>
        </div>
      </div>
    </form>

    <form ng-submit="findPath(destinationSubreddit)">
      <div class="form-group">
        <label for="subreddit-name">Find path from {{ subredditName}} to:</label>
        <div class="input-group" id="path-input">
          <input type="text"
          ng-model="destinationSubreddit"
          name="subreddit-name"
          ng-disabled="loadingSubreddits || loadingPath"
          class="form-control typeahead search">
          <span class="input-group-btn">
            <button class="btn btn-info"
                    type="submit"
                    ng-disabled="loadingSubreddits || loadingPath"
                    ng-hide="loadingPath">
              Search
            </button>
            <button class="btn btn-info"
                    type="submit"
                    ng-disabled="loadingSubreddits || loadingPath"
                    ng-show="loadingPath">
              Finding...
            </button>
          </span>
        </div>
      </div>
    </form>

    <div class='form-group'>
      <button class="btn btn-info btn-block"
              ng-hide="loadingSubreddits"
              ng-disabled="loadingPath"
              ng-click="expandChildren()">
        Expand subreddits
      </button>
      <button class="btn btn-info btn-block"
              ng-show="loadingSubreddits"
              disabled>
        Loading...
      </button>
    </div>
    <subreddit-detail subreddit="subreddit"></subreddit-detail>
    <help-pane></help-pane>
  </div>
</div>
<graph-legend></graph-legend>
<script src="/assets/js-cookie.js"></script>
<script type="text/javascript">
  setTimeout(function () {
    if (!Cookies.get('visited')) {
      angular.element("#help").modal();
      Cookies.set('visited', true);
    }
  }, 500);
</script>
