<h1> FILE SERVED </h1>
<div class="container">
  <div class="row">
    <div class="col-xs-9" id="graph">
    </div>
    <div class="col-xs-3">
      <form ng-submit="drawGraph()">
        <input type="text" ng-model="subredditName">
        <input type="submit">
      </form>
    </div>
  </div>
</div>
