<div id="graph-container">
  <div id="graph">
  </div>
  <div id="sidebar">
    <form ng-submit="drawGraph()">
      <div class="form-group">
        <label for="subreddit-name">Find a Subreddit:</label>
        <div class="input-group" id="the-basics">
          <input type="text"
          ng-model="subredditName"
          name="subreddit-name"
          class="form-control typeahead">
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit">Search</button>
          </span>
        </div>
      </div>
    </form>
    <subreddit-detail subreddit="subreddit"></subreddit-detail>
    <button type="button" class="btn btn-info btn-sml" data-toggle="modal" data-target="#help">
      View tips on using site
    </button>
    <help-pane></help-pane>
  </div>
</div>
<script src="/assets/js-cookie.js"></script>
<script type="text/javascript">
  setTimeout(function () {
    if (!Cookies.get('visited')) {
      angular.element("#help").modal();
      Cookies.set('visited', true);
    }
  }, 500);
</script>
