<div id="graph-container">
  <div id="graph">
  </div>
  <div id="sidebar">
    <h1>RedditViz</h1>
    <form ng-submit="drawGraph()">
      <div class="form-group">
        <label for="subreddit-name">Find a Subreddit:</label>
        <input type="text" 
               ng-model="subredditName" 
               name="subreddit-name" 
               class="form-control">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
    <subreddit-detail subreddit="subreddit"></subreddit-detail>
  </div>
</div>