.node circle {
  cursor: pointer;
  stroke: #3182bd;
  fill: white;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
  stroke:#333;
}

line.link {
  fill: none;
  stroke: #9ecae1;
}
